/.idea
/.tmp
/.github
/node_modules
/npm-debug.log
/test
/.huskyrc
/.lintstagedrc
/.editorconfig
/.eslintignore
/.gitattributes
/.gitignore
/.npmignore
/.npmrc
/.nvmrc
/.browserslist
/.commitlintrc.json
/.prettierignore
/.prettierrc
/.browserslistrc
/config
/swagger-adjust-*.*.*.tgz
/babel.config.js
/demo
.eslintrc
